.App {
  text-align: center;
  height: auto;
  padding: 50px;

  background-color: rgba(255, 255, 255, 0.9);
}

input {
  padding: 8px 25px;
  font-size: 1.3rem;
  width: 300px;
  outline: none;
  border: 1px solid #ccc;
  border-right: none;
}

.add-field {
  width: 200px;
}

button {
  padding: 15px 12px;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: dodgerblue;
  border: none;
  margin-left: 12px;
  color: white;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #034d8b;
}

.smurf-list {
  width: 80%;
  padding: 50px;
  margin-top: 30px;
  border: 2px solid navy;
  margin: 40px auto 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
}

.ui.card.smurf-card {
  width: fit-content;
  padding: 30px 20px 20px;
  background: dodgerblue;
  color: white;
  border: 2px solid navy;
  margin: 0 0 10px 10px;
}

.err {
  padding: 8px 30px;
  border: 2px solid rgb(180, 31, 31);
  background-color: #f1e2e2;
  font-weight: bold;
  color: rgb(180, 31, 31);
  width: fit-content;
  margin: 20px auto;
  border-radius: ;
}

i.close.icon {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

i.close.icon:hover {
  color: #ff5b5b;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

h4 {
  font-weight: bold;
  font-size: 1rem;
  margin: 20px 0;
}

p {
  font-size: 0.9rem;
}

button {
  margin-left: 0;
}
